$icon-font-path:                            'packages/bower/bootstrap-sass/assets/fonts/bootstrap/';



//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:                        12px;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      white;
$navbar-inverse-bg:                         #b82b22;

// Inverted navbar links
$navbar-inverse-link-color:                 white;

@import "bootstrap";
@import "bootstrap-sprockets";

.navbar {
  border-radius: 0px;
}

table tr {
  cursor: pointer;
}

.intro-container, .video {
  margin-bottom: 15px;
}

.col.center-block {
  float: none;
}